<!DOCTYPE html>
<html>
<head>
  <title>E-commerce Website</title>
  <!-- Add Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .dropdown-item{
    color : blue ;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'products:home' %}">E-commerce Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'products:home' %}">Home <span class="sr-only"></span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Log Out <span class="sr-only"></span></a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Log in <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register' %}">Sign up <span class="sr-only"></span></a>
        </li>
        {% endif %}
          <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
      {% for obj in categories %}
      <a class="dropdown-item" href="{% url 'products:category' obj.slug %}">{{obj.c_name}}</a>
      {% endfor %}
        </div>
      </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
        {% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>















